@charset "UTF-8";
/*Обнуление*/
@import url("https://use.typekit.net/qbe3iqe.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/*FONTS===========================================================================================*/
body, input, button, textarea {
  font-family: "Lato";
}

/*WRAPPER===========================================================================================*/
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

/*CONTAINER===========================================================================================*/
.container {
  max-width: 990px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

/*HEADER===========================================================================================*/
.header {
  background-color: #16a085;
  padding: 20px 0;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.header__active {
  border-bottom: 1.5px solid #2c3e50;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16a085;
  z-index: 3;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  z-index: 3;
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
}
.header__burger.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.header__burger.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.header__burger.active span {
  transform: scale(0);
}

@media (max-width: 767px) {
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #16a085;
    padding-top: 100px;
    transition: all 0.3s ease 0s;
  }
  .menu__body.active {
    top: 0;
    overflow: hidden;
  }
}
.menu__list {
  display: flex;
  position: relative;
  z-index: 3;
}
.menu__list li {
  padding: 0 7.5px;
  font-family: "Open Sans";
}
.menu__list li:nth-child(5) {
  padding: 0px 0px 0px 7.5px;
}
@media (max-width: 767px) {
  .menu__list li {
    padding: 16px 7.5px;
  }
  .menu__list li:nth-child(5) {
    padding: 16px 7.5px;
  }
}
@media (max-width: 767px) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.menu__link {
  color: #9bded1;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .menu__link {
    font-size: 38px;
  }
}
.menu__link_active {
  color: #ffffff;
}
.menu__link:hover {
  color: #ffffff;
}

/*===========================================================================================*/
.mainblock {
  flex: 1 0 100%;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 230px 0px 130px 0px;
  text-align: center;
}
@media (max-width: 900px) {
  .mainblock {
    padding: 180px 0px 200px 0px;
  }
}
@media (max-width: 600px) {
  .mainblock {
    padding: 130px 0px 200px 0px;
  }
}
@media (max-width: 400px) {
  .mainblock {
    padding: 80px 0px 150px 0px;
  }
}
.mainblock__content {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
}
.mainblock__content .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.mainblock__title {
  padding: 15px 0;
  color: #ffffff;
  font-size: 90px;
  text-transform: uppercase;
  font-weight: 100;
  font-style: normal;
}
@media (max-width: 600px) {
  .mainblock__title {
    font-size: 60px;
  }
}
.mainblock__subtitle {
  padding: 15px 0;
  color: #a5b6c7;
  font-size: 34px;
  font-weight: 100;
  font-style: normal;
  line-height: 40.06px;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .mainblock__subtitle {
    font-size: 20px;
  }
}
.mainblock__btn {
  font-family: Lato;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  padding: 20px 46px;
  border-radius: 5px;
  opacity: 0.4;
}
.mainblock__btn:hover {
  background-color: #16a085;
  color: #fff;
}
.mainblock__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*INFORMATIONS===========================================================================================*/
.box-info {
  padding: 80px 0;
  text-align: center;
}
@media (max-width: 767px) {
  .box-info {
    padding: 10px 0;
  }
}
.box-info__row {
  display: flex;
  margin: 0px -20px;
}
@media (max-width: 767px) {
  .box-info__row {
    display: block;
  }
}
.box-info__column {
  padding: 0px 20px;
  flex: 0 1 33.333%;
}
@media (max-width: 767px) {
  .box-info__column {
    display: block;
    padding: 20px 15px;
  }
}
.box-info__title {
  color: #16a085;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
}
.box-info__subtitle {
  color: #7f8c8d;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 40px 0px 30px 0px;
}
@media (max-width: 767px) {
  .box-info__subtitle {
    padding: 15px 0;
  }
}
.box-info__link {
  color: #16a085;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding: 14px 23px;
  border: 1px solid #16a085;
  background-color: #ffffff;
  opacity: 0.6;
}
.box-info__link:hover {
  background-color: #16a085;
  color: #fff;
}

/*RECENT POSTS===========================================================================================*/
.posts {
  padding: 40px 0;
}
@media (max-width: 767px) {
  .posts {
    padding: 10px 0px;
  }
}
.posts__row {
  display: flex;
  margin: 0px -15px;
}
@media (max-width: 992px) {
  .posts__row {
    display: block;
    text-align: center;
  }
}
.posts__text {
  color: #2c3e50;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .posts__text {
    text-align: center;
  }
}
.posts__column {
  flex: 0 1 33.333%;
  padding: 0px 15px;
}
.posts__icon {
  margin: 24px 0px 0px 0px;
}
.posts__icon img {
  max-width: 300px;
  height: auto;
}
.posts__title {
  color: #16a085;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 15px 0px;
}
.posts__subtitle {
  color: #7f8c8d;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

/*FOOTER===========================================================================================*/
.footer {
  padding: 40px 0;
  margin-top: 30px;
  background-color: #2c3e50;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .footer__row {
    display: block;
  }
}
.footer__side {
  display: flex;
  order: 1;
}
@media (max-width: 500px) {
  .footer__side {
    display: block;
  }
}
.footer__side_right {
  order: 2;
}
.footer__column {
  padding-right: 70px;
}
@media (max-width: 767px) {
  .footer__column {
    padding-right: 40px;
  }
}
@media (max-width: 400px) {
  .footer__column {
    padding-right: 15px;
  }
}
.footer__title {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
}
.footer__link {
  color: #7f8e9c;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

/*===========================================================================================*/
/*===========================================================================================*/